html{
	font-family: 'Patrick Hand', cursive;
	background-color: rgb(44,44,44);
	color: rgb(100,202,9);
	text-align: center;

}
header{
	border-top:1px  solid  rgba(100,202,9,0.7);
	margin-top: 2%;
}
@media (max-width: 600px){
	html{
		font-size: 120%;
		display: inline-block;
	}
}